<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>首页</title>
</head>

<body>
    <%- include("./component/head.ejs")%>
    <div class="container-fluid">
        <div class="col-sm-2 col-xs-12">
            <div class="panel panel-primary">
                <%- include("./component/aside.ejs")%>
            </div>
        </div>

        <div class="col-xs-10">
            <ol class="breadcrumb">
                <li><a href="#">商品管理</a></li>
                <li><a href="#">商品列表</a></li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <!-- 第一套方案----------------无form-->

                    <!-- <label for="search">名称:</label>
                    <input name="searchTo" id="search" type="text">
                    <button type="button" id="searchGo">开始搜索</button> -->

                    <!-- 第二套方案----------------form-->
                    <form action="/admin/goodssearch" class="form-horizontal">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="search" class="col-xs-2 control-label">名称</label>
                            <div class="col-xs-6">
                                <input name="searchTo" id="search" type="text" class="form-control"
                                    value="<%= searchTo %>"> </div>
                            <div class="col-xs-4">
                                <input type="submit" class="form-control" value="开始搜索">
                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-center">编号</th>
                        <th class="text-center">图标</th>
                        <th class="text-center">名称</th>
                        <th class="text-center">价格</th>
                        <th class="text-center">邮费</th>
                        <th class="text-center">描述</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0 ; i < lists.length ; i++){ %>
                    <tr>
                        <td><%=lists[i]._id%></td>
                        <td><img src="<%=lists[i].gimg%>" alt="" style="width: 50px;"></td>
                        <td><%=lists[i].gname%></td>
                        <td><%=lists[i].gprice%></td>
                        <td><%=lists[i].gpostage%></td>
                        <td><%=lists[i].gdescribe%></td>
                        <td><a href="/admin/edit?_id=<%=lists[i]._id%>" class="btn btn-primary">修改</a><a
                                class="btn btn-danger" id="del" data-id="<%=lists[i]._id%>" data-toggle="modal"
                                data-target="#myModal">删除</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="disabled"><a href="">共有<%=total%>条</a></li>
                    <li><a href="/admin/goodssearch?searchTo=<%=searchTo%>&page=1&size=3">首页</a></li>
                    <li class="<%= page<=1?'disabled':''%>">
                        <a href="/admin/goodssearch?searchTo=<%=searchTo%>&page=<%=page<=1?1:page-1%>&size=3"
                            aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <% for(var i = 1;i <= totalpage;i++){%>
                    <li class="<%= page == i ? 'active':''%>"><a
                            href="/admin/goodssearch?searchTo=<%=searchTo%>&page=<%= i %>&size=3"><%=i%></a>
                    </li>
                    <% } %>
                    <li class="<%=page>=totalpage?'disabled':''%>">
                        <a href="/admin/goodssearch?searchTo=<%=searchTo%>&page=<%=page>=totalpage?totalpage:page+1%>&size=3"
                            aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li><a href="/admin/goodssearch?searchTo=<%=searchTo%>&page=<%=totalpage%>&size=3">尾页</a></li>
                    <li class="disabled"><a href="">共有<%=totalpage%>页</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <%- include("./component/modal.ejs")%>
    <script src="../js/jquery-3.5.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
        $("#del").on("click", function () {
            let delid = $(this).attr("data-id");
            console.log($("#delete").attr("href", "/admin/delete?_id=" + delid));
        })
    </script>
</body>

</html>